# STT 에서 추출된 데이터프레임을 합쳐봅시다

In [3]:
# 데이터프레임 불러오기
import pandas as pd

df1 = pd.read_excel('./data/text/train_data_re.xlsx')
df2 = pd.read_excel('./data/text/박성준녹음.xlsx')
df2.drop(df2.columns[0],axis=1,inplace=True)
df3 = pd.read_excel('./data/text/연하녹음.xlsx')
df3.drop(df3.columns[0],axis=1,inplace=True)
df4 = pd.read_excel('./data/text/재환이녹음.xlsx')
df4.drop(df4.columns[0],axis=1,inplace=True)
df5 = pd.read_excel('./data/text/클라우드녹음.xlsx')
df5.drop(df5.columns[0],axis=1,inplace=True)

display(df1.tail())
display(df2.tail())
display(df3.tail())
display(df4.tail())
display(df5.tail())

         text intent  label
193       배달끝   배달완료      6
194    음식배달완료   배달완료      6
195  음식배달완료했어   배달완료      6
196   음식배달끝냈어   배달완료      6
197   음식배달끝났어   배달완료      6

        text intent  label
75      배달 끝   배달완료      6
76    배달 끝났어   배달완료      6
77     나 끝났어   배달완료      6
78  배달 완료 했어   배달완료      6
79      1 만료   배달완료      6

          text intent  label
138  음식 배달 끝났어   배달완료      6
139      배달 끝남   배달완료      6
140      배달 완료   배달완료      6
141    음식 전달했어   배달완료      6
142   음식 전달 완료   배달완료      6

            text intent  label
119         배달 끝   배달완료      6
120     음식 배달 완료   배달완료      6
121  음식 배달 완료 했어   배달완료      6
122     음식 잘 끝냈어   배달완료      6
123     음식 잘 끝났어   배달완료      6

            text intent  label
116         배달 끝   배달완료      6
117     음식 배달 완료   배달완료      6
118  음식 배달 완료 했어   배달완료      6
119    음식 배달 끝냈어   배달완료      6
120    음식 배달 끝났어   배달완료      6

In [5]:
# 데이터프레임을 합쳐보자

all_of_data = pd.concat([df1, df2, df3, df4, df5])
display(all_of_data)

all_of_data.to_excel('./data/text/최종.xlsx')

            text intent  label
0          운행시작해   운행시작      0
1         운행시작하자   운행시작      0
2           운행하자   운행시작      0
3            운행해   운행시작      0
4       운행시작해주세요   운행시작      0
..           ...    ...    ...
116         배달 끝   배달완료      6
117     음식 배달 완료   배달완료      6
118  음식 배달 완료 했어   배달완료      6
119    음식 배달 끝냈어   배달완료      6
120    음식 배달 끝났어   배달완료      6

[666 rows x 3 columns]